* {
	margin: 0;
	padding: 0;
}
header {
		display:flex;
		background-color:black;
		position:fixed;
		justify-content:space-around;
}
.header {
	color:#FDA002;
	font-family: "Kanit";
	text-decoration:none;
	display: inline;
}
p {
	color:white;
	font-family: "Rokkitt", sans seriff;
	text-align: center;
}
body {
	background-color: black;
}

.navbar {
	justify-content: spaced-evenly;
	margin: 0 0 0 562px;
	padding: 10px;
}

.navbar ul li {
	font-family: "Kanit";
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position:relative;
}

.navbar ul li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	display:flex;
	flex-wrap:wrap;
}

.navbar ul li::after{
	content:'';
	height:3px;
	width: 0;
	background: #FDA002;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;
}
h2{
	color:#FDA002;
	font-family: "Kanit";
	text-decoration:none;
	text-align:center;
	padding: 30px;
}

main {
	font-size: 20px;
	padding:20px;
}

footer {
	color:#FDA002;
	font-family: "Kanit";
	padding: 30px;
	text-align:center;
}
	