h1,h2,header {
	color:#FDA002;
	font-family: "Kanit";
}
p {
	color:white;
	font-family: "Rokkitt", sans seriff;
}
body {
	background-color: black
}

a:link{
	color:#FAFF00;
}

a:visited{
	color:#0FF010;
}

a:hover{
	color:#C3583C;
}